GestaoClientes.Web/Connected Services/ServiceReference1/GestaoClientes.Api.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GestaoClientes.Api.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GestaoClientes.Api.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" type="ser:char" />
      <xs:element minOccurs="0" name="SituacaoID" type="xs:int" />
      <xs:element minOccurs="0" name="TipoID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfClienteSituacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteSituacao" nillable="true" type="tns:ClienteSituacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteSituacao" nillable="true" type="tns:ArrayOfClienteSituacao" />
  <xs:complexType name="ClienteSituacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteSituacao" nillable="true" type="tns:ClienteSituacao" />
  <xs:complexType name="ArrayOfClienteTipo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteTipo" nillable="true" type="tns:ClienteTipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteTipo" nillable="true" type="tns:ArrayOfClienteTipo" />
  <xs:complexType name="ClienteTipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteTipo" nillable="true" type="tns:ClienteTipo" />
</xs:schema>